<div class="container">
  <div class="title">BARCODE DETAIL</div>
  <div class="container1" id="print">
    <div class="ticket">
      <h3>BliLL Hospital</h3>
      <div class="line"></div>
      <p>We will always be there for you</p>
      <p>Your queue number</p>
      <h2>001</h2>
      <p>Please wait</p>
      <p>23/07/2021, 1.45 PM</p>
      <p>dr. Yohanah Melandia</p>
      <h6>Budayakan antri untuk kenyamanan bersama</h6>
      <h5>Terima kasih atas kunjungan anda</h5>
    </div>
  </div>
  <button printSectionId="print" ngxPrint>PRINT</button>
</div>
