<section>
  <div class="forms">
    <div class="signin">
      <form action="#" class="signin-form" >
        <h2 class="title">SIGN IN</h2>
        <div class="input">
          <i class="fas fa-user"></i>
          <input type="email" name="email" />
        </div>
        <div class="input">
          <i class="fas fa-lock"></i>
          <input type="password"  name="password" />
        </div>
        <button type="submit"
        class="btn solid" [routerLink]="'/admin/home'" routerLinkActive="active"><a>LOGIN</a></button>
      </form>
    </div>
  </div>
</section>

  <img [src]="images[0]" class="image" alt="" />

