@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.forms {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 7rem;
}

.signin {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.signin-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.input {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input i {
  text-align: center;
  line-height: 55px;
  color: #858181;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 15px;
  color: #333;
}

.input input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 150px;
  background-color: #4e7e9c;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #1f313d;
}

.btn a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.image {
  width: 35%;
  margin-top: 9rem;
  margin-left: 9rem;
}
