<div class="container">
    <div class="title">VISITOR LIST</div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col" class="sort " data-sort="no">
            No
          </th>
          <th scope="col" class="sort" data-sort="queueNumber">Queue Number</th>
          <th scope="col" class="sort" data-sort="visitorName">
            Visitor Name
          </th>
          <th scope="col" class="sort" data-sort="email">Email</th>
          <th scope="col" class="sort" data-sort="doctorName">
            Doctor Name
          </th>
          <th scope="col" class="sort" data-sort="schedule">
            Check-up Schedule
          </th>
          <th scope="col" class="sort" data-sort="scheduleTime">
            Schedule Time
          </th>
        </tr>
      </thead>
      <tbody class="list">
        <tr>
          <td class="no">1</td>
          <td class="queueNumber">001</td>
          <td class="visitorName">Nabila Khaerunnisa</td>
          <td class="email">nabila.nh75@gmail.com</td>
          <td class="doctorName">dr. Yohanah Melandia</td>
          <td class="schedule">23/07/2021</td>
          <td class="scheduleTime">1.45 PM</td>
        </tr>
      </tbody>
    </table>
  </div>


