<div class="container">
  <div class="title">VISITOR DETAIL</div>
  <div class="container2">
    <div class="detail">
      <h4>Queue Number : </h4>
      <p>001</p>
    </div>
  <div class="detail">
    <h4>Visitor Name : </h4>
    <p>Nabila Khaerunnisa</p>
  </div>
  <div class="detail">
    <h4>Email : </h4>
    <p>nabila.nh75@gmail.com</p>
  </div>
  <div class="detail">
    <h4>Phone Number : </h4>
    <p>082118636924</p>
  </div>
  <div class="detail">
    <h4>Address : </h4>
    <p>Kec. Ciwidey, Kab. Bandung, Jawa Barat</p>
  </div>
  <div class="detail">
    <h4>Patient Complaints : </h4>
    <p>Fever, headache</p>
  </div>
  <div class="detail">
    <h4>The Doctor who will examine : </h4>
    <p>dr. Yohanah Melandia</p>
  </div>
  <div class="detail">
    <h4>Patient Check-up Schedule : </h4>
    <p>23/07/2021</p>
  </div>
  <div class="detail">
    <h4>Schedule Time : </h4>
    <p>1.45 PM</p>
  </div>
</div>
</div>


