<div class="container">
    <div class="title">VISITOR BARCODE</div>
    <table class="table">
      <tbody class="list">
        <tr>
          <td class="no">(1)</td>
          <td class="queueNumber">001</td>
          <td class="visitorName">Nabila Khaerunnisa</td>
          <td class="schedule">23/07/2021</td>
          <td class="visitorDetail"><a [routerLink]="'/admin/visitor-detail'" routerLinkActive="active">Visitor Detail</a></td>
          <td class="barcodeDetail"><a [routerLink]="'/admin/barcode-detail'" routerLinkActive="active">Barcode Detail</a></td>
        </tr>
      </tbody>
    </table>
  </div>


